<form nz-form [nzLayout]="'inline'" class="search-form" style="margin-bottom: 0px;">
    <div nz-form-item >
        <div nz-form-label>描述：</div>
        <div nz-form-control>
            <nz-input [(ngModel)]="s.desc" name="desc"></nz-input>
        </div>
    </div>
    <div nz-form-item>
        <div nz-form-label>前置JOB：</div>
        <div nz-form-control>
            <nz-input [(ngModel)]="s.preJob" name="preJob"></nz-input>
        </div>
    </div>
    <div nz-form-item>
        <div nz-form-label>状态：</div>
        <div nz-form-control>
            <nz-select [(ngModel)]="s.s" name="s" [nzAllowClear]="false">
                <nz-option nzValue="" nzLabel="请选择"></nz-option>
                <nz-option nzValue="1" nzLabel="正常执行"></nz-option>
                <nz-option nzValue="2" nzLabel="暂停/作废"></nz-option>
            </nz-select>
        </div>
    </div>
    <div nz-form-item>
        <div nz-form-label>执行方式：</div>
        <div nz-form-control>
            <nz-select [(ngModel)]="s.s" name="s" [nzAllowClear]="false">
                <nz-option nzValue="" nzLabel="请选择"></nz-option>
                <nz-option nzValue="1" nzLabel="自动"></nz-option>
                <nz-option nzValue="2" nzLabel="手动"></nz-option>
            </nz-select>
        </div>
    </div>
    <div nz-form-item>
        <div nz-form-control>
            <button nz-button (click)="load(true)">搜索</button>
        </div>
    </div>
    <div nz-form-item>
        <div nz-form-control>
            <button nz-button (click)="addOrEdit('-1')">新增scheduler</button>
        </div>
    </div>
</form>


<table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%"  style="white-space: nowrap;">
    <thead>
    <tr style="text-align: center">
        <th>schedulerId</th>
        <th>描述</th>
        <th>状态</th>
        <th>执行类型</th>
        <th>执行类型切换</th>
        <th>重试次数</th>
        <th>节点管理页</th>
        <th>历史记录</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of dependcyConfData" style="text-align: center">
        <td>{{item.schedulerId}}</td>
        <td>{{item.desc}}</td>
        <td>{{item.status}}</td>
        <td>{{item.runType}}</td>
        <td><a><img src="../../../../assets/image/icon/change.png"></a></td>
        <td>{{item.num}}</td>
        <td><a><img src="../../../../assets/image/icon/node.png"></a></td>
        <td><a (click)="openHistoryRecord(item)"><img src="../../../../assets/image/icon/history.png"></a></td>
        <td>{{item.startDate}}</td>
        <td>{{item.endDate}}</td>
        <td>
            <a style="padding-right: 2px;" ><img src="../../../../assets/image/icon/edit.png"></a>
            <a style="padding-left: 2px;"><img src="../../../../assets/image/icon/delete.png"></a>
        </td>
    </tr>
   <!-- <tr>
        <td>1111</td>
        <td>进入执行</td>
        <td>正常执行</td>
        <td>自动</td>
        <td><a>切换</a></td>
        <td>1</td>
        <td>2011-04-25</td>
        <td>2011-04-25</td>
        <td><a>节点</a></td>
        <td><a (click)="openHistoryRecord(item)">历史</a></td>
        <td><a>编辑</a><a>删除</a></td>
    </tr>
    <tr>
        <td>1111</td>
        <td>进入执行</td>
        <td>正常执行</td>
        <td>自动</td>
        <td><a>切换</a></td>
        <td>1</td>
        <td>2011-04-25</td>
        <td>2011-04-25</td>
        <td><a>节点</a></td>
        <td><a>历史</a></td>
        <td><a>编辑</a><a>删除</a></td>
    </tr>
    <tr>
        <td>1111</td>
        <td>进入执行</td>
        <td>正常执行</td>
        <td>自动</td>
        <td><a>切换</a></td>
        <td>1</td>
        <td>2011-04-25</td>
        <td>2011-04-25</td>
        <td><a>节点</a></td>
        <td><a>历史</a></td>
        <td><a>编辑</a><a>删除</a></td>
    </tr>
    <tr>
        <td>1111</td>
        <td>进入执行</td>
        <td>正常执行</td>
        <td>自动</td>
        <td><a>切换</a></td>
        <td>1</td>
        <td>2011-04-25</td>
        <td>2011-04-25</td>
        <td><a>节点</a></td>
        <td><a>历史</a></td>
        <td><a>编辑</a><a>删除</a></td>
    </tr><tr>
        <td>1111</td>
        <td>进入执行</td>
        <td>正常执行</td>
        <td>自动</td>
        <td><a>切换</a></td>
        <td>1</td>
        <td>2011-04-25</td>
        <td>2011-04-25</td>
        <td><a>节点</a></td>
        <td><a>历史</a></td>
        <td><a>编辑</a><a>删除</a></td>
    </tr>
    <tr>
        <td>1111</td>
        <td>进入执行</td>
        <td>正常执行</td>
        <td>自动</td>
        <td><a>切换</a></td>
        <td>1</td>
        <td>2011-04-25</td>
        <td>2011-04-25</td>
        <td><a>节点</a></td>
        <td><a>历史</a></td>
        <td><a>编辑</a><a>删除</a></td>
    </tr>
    <tr>
        <td>1111</td>
        <td>进入执行</td>
        <td>正常执行</td>
        <td>自动</td>
        <td><a>切换</a></td>
        <td>1</td>
        <td>2011-04-25</td>
        <td>2011-04-25</td>
        <td><a>节点</a></td>
        <td><a>历史</a></td>
        <td><a>编辑</a><a>删除</a></td>
    </tr>
    <tr>
        <td>1111</td>
        <td>进入执行</td>
        <td>正常执行</td>
        <td>自动</td>
        <td><a>切换</a></td>
        <td>1</td>
        <td>2011-04-25</td>
        <td>2011-04-25</td>
        <td><a>节点</a></td>
        <td><a>历史</a></td>
        <td><a>编辑</a><a>删除</a></td>
    </tr>
    <tr>
        <td>1111</td>
        <td>进入执行</td>
        <td>正常执行</td>
        <td>自动</td>
        <td><a>切换</a></td>
        <td>1</td>
        <td>2011-04-25</td>
        <td>2011-04-25</td>
        <td><a>节点</a></td>
        <td><a>历史</a></td>
        <td><a>编辑</a><a>删除</a></td>
    </tr>
    <tr>
        <td>1111</td>
        <td>进入执行</td>
        <td>正常执行</td>
        <td>自动</td>
        <td><a>切换</a></td>
        <td>1</td>
        <td>2011-04-25</td>
        <td>2011-04-25</td>
        <td><a>节点</a></td>
        <td><a>历史</a></td>
        <td><a>编辑</a><a>删除</a></td>
    </tr>
    <tr>
        <td>1111</td>
        <td>进入执行</td>
        <td>正常执行</td>
        <td>自动</td>
        <td><a>切换</a></td>
        <td>1</td>
        <td>2011-04-25</td>
        <td>2011-04-25</td>
        <td><a>节点</a></td>
        <td><a>历史</a></td>
        <td><a>编辑</a><a>删除</a></td>
    </tr>
    <tr>
        <td>1111</td>
        <td>进入执行</td>
        <td>正常执行</td>
        <td>自动</td>
        <td><a>切换</a></td>
        <td>1</td>
        <td>2011-04-25</td>
        <td>2011-04-25</td>
        <td><a>节点</a></td>
        <td><a>历史</a></td>
        <td><a>编辑</a><a>删除</a></td>
    </tr>
    <tr>
        <td>1111</td>
        <td>进入执行</td>
        <td>正常执行</td>
        <td>自动</td>
        <td><a>切换</a></td>
        <td>1</td>
        <td>2011-04-25</td>
        <td>2011-04-25</td>
        <td><a>节点</a></td>
        <td><a>历史</a></td>
        <td><a>编辑</a><a>删除</a></td>
    </tr>
    <tr>
        <td>1111</td>
        <td>进入执行</td>
        <td>正常执行</td>
        <td>自动</td>
        <td><a>切换</a></td>
        <td>1</td>
        <td>2011-04-25</td>
        <td>2011-04-25</td>
        <td><a>节点</a></td>
        <td><a>历史</a></td>
        <td><a>编辑</a><a>删除</a></td>
    </tr>-->
    </tbody>
</table>


<!--<ag-grid-angular #agGrid style="width: 100%; height: 450px ;" class="ag-theme-fresh"
                 [rowData]="rowData"
                 [columnDefs]="columnDefs"
                 [pagination]="true"
                 (gridReady)="onGridReady($event)"
                 [enableColResize]="true"
                 >
</ag-grid-angular>-->
